<h1 ng-if="!!$ctrl.data.thema && $ctrl.data.level === 1">{{ $ctrl.data.thema + (!!$ctrl.data.count ? ' (' + $ctrl.data.count + ' Einträge)' : '') }}</h1>
<h2 ng-if="!!$ctrl.data.thema && $ctrl.data.level === 2">{{ $ctrl.data.thema + (!!$ctrl.data.count ? ' (' + $ctrl.data.count + ' Einträge)' : '') }}</h2>
<h3 ng-if="!!$ctrl.data.thema && $ctrl.data.level === 3">{{ $ctrl.data.thema + (!!$ctrl.data.count ? ' (' + $ctrl.data.count + ' Einträge)' : '') }}</h3>
<h4 ng-if="!!$ctrl.data.thema && $ctrl.data.level === 4">{{ $ctrl.data.thema + (!!$ctrl.data.count ? ' (' + $ctrl.data.count + ' Einträge)' : '') }}</h4>
<h5 ng-if="!!$ctrl.data.thema && $ctrl.data.level === 5">{{ $ctrl.data.thema + (!!$ctrl.data.count ? ' (' + $ctrl.data.count + ' Einträge)' : '') }}</h5>
<h6 ng-if="!!$ctrl.data.thema && $ctrl.data.level === 6">{{ $ctrl.data.thema + (!!$ctrl.data.count ? ' (' + $ctrl.data.count + ' Einträge)' : '') }}</h6>

<entries entries="$ctrl.data.entries" ng-if="!!$ctrl.data.entries"></entries>
<ng-repeat ng-repeat="row in $ctrl.data.children">
    <themas data="row"></themas>
</ng-repeat>
