<div class="container">
    <div class="row">
        <div class="twelve column" style="margin-top: 5%">
            <h1>Redemittel</h1>

            <ng-repeat ng-hide="!!$ctrl.print" ng-repeat="top in $ctrl.data">
                <button class="button-primary" ng-click="$ctrl.toogleSelection(top)">{{ top.groupId }}</button>
                <ng-repeat ng-repeat="group in top.groups">
                    <a class="button" ng-show="!!top.selected" ng-click="$ctrl.scrollTo(group.groupId)">{{ group.groupId }}</a>
                </ng-repeat>
            </ng-repeat>

            <ng-repeat ng-repeat="top in $ctrl.data">
                <h2 id="{{ top.groupId }}">{{ top.groupId }}</h2>
                <ng-repeat ng-repeat="group in top.groups">
                    <h3 id="{{ group.groupId }}">{{ group.groupId }}</h3>
                    <ul>
                        <li ng-repeat="entry in group.entries">{{ entry }}</li>
                    </ul>
                </ng-repeat>
            </ng-repeat>

            <a ng-hide="!!$ctrl.print" class="button" target="_blank" href="./#/speech-helpers?print=true">Drucken</a>
            <button ng-hide="!!$ctrl.print" ng-click="$ctrl.back()">Zurück</button>
        </div>

    </div>
</div>
<footnote ng-hide="!!$ctrl.print"></footnote>
