<div class="container">
    <div class="row">
        <div class="twelve column" style="margin-top: 5%">
            <h1>Redemittel</h1>

            <div ng-hide="!!$ctrl.print">
                <ng-repeat ng-repeat="level in $ctrl.levels">
                    <button  ng-class="{'button-primary': !!level.selected }" ng-click="$ctrl.toogleSelection(level)">{{ level.value }}</button>
                </ng-repeat>
            </div>

            <div>
                <span ng-show="$ctrl.isGroupVisible(top) && !$ctrl.print" ng-repeat="top in $ctrl.data">
                    <button class="button-primary" ng-click="$ctrl.toogleSelection(top)" title="{{ $ctrl.title(top) }}">{{ top.groupId }}</button>
                    <span ng-show="$ctrl.isGroupVisible(group)" ng-repeat="group in top.entries">
                        <a class="button" ng-show="!!top.selected" ng-click="$ctrl.scrollTo(group.groupLinkId)" title="{{ $ctrl.title(group) }}">{{ group.groupId }}</a>
                    </span>
                </span>
            </div>
            <button ng-hide="!!$ctrl.print" ng-click="$ctrl.back()">Zurück</button>

            <div ng-show="$ctrl.isGroupVisible(top)" ng-repeat="top in $ctrl.data">
                <h5 id="{{ top.groupLinkId }}" title="{{ $ctrl.title(top) }}">{{ top.groupId }}</h5>
                <div ng-show="$ctrl.isGroupVisible(group)" ng-repeat="group in top.entries">
                    <h6 id="{{ group.groupLinkId }}" title="{{ $ctrl.title(group) }}">{{ group.groupId }}</h6>
                    <ul>
                        <li ng-repeat="entry in group.entries" ng-show="$ctrl.isEntryVisible(entry)" title="{{ $ctrl.title(entry) }}">{{ entry.value }}</li>
                    </ul>
                </div>
            </div>

            <a ng-hide="!!$ctrl.print" class="button" target="_blank" href="./#/speech-helpers?print=true">Drucken alle</a>
            <button ng-hide="!!$ctrl.print" ng-click="$ctrl.back()">Zurück</button>
        </div>

    </div>
</div>
<footnote ng-hide="!!$ctrl.print"></footnote>
