<br>
<footer>
    <div class="container">
        <p class="text-muted">
            <a href="./#/">Hauptseite</a>
            -
            <a href="./#/inventory">Inventare</a>
            -
            <a href="./#/alphabet">Alphabet</a>
            -
            <a href="./#/salutations-closings">Anrede und Schlussformeln in Brief und E-Mail</a>
            -
            <a href="./#/mathematics">Algebraische & arithmetischen Operationen</a>
            -
            <a href="./#/punctuation">Satzzeichen</a>
            -
            <a href="https://opensource.org/licenses/MIT" target="_blank">Lizenz MIT</a>
        </p>
    </div>
</footer>
