<div class="container">
    <div class="row">
        <div class="twelve column" style="margin-top: 5%">
            <h1>{{ $ctrl.title }}</h1>
            <div ng-if="!!row.value" ng-repeat="row in $ctrl.fields">
                <label for="{{ row.name }}">{{ row.name + (!!row.question ? ' (Frage)' : ' (Antwort)') }} </label>
                <ul ng-if="!!row.list && (!!row.question || !!$ctrl.showAnswer)">
                    <li ng-repeat="value in row.value">{{ value }}</li>
                </ul>
                <input class="u-full-width"
                       type="text"
                       id="{{ row.name }}"
                       ng-model="row.value"
                       ng-if="!row.list && (!!row.question || !!$ctrl.showAnswer) && !row.leoEnabled" readonly>
                <a ng-if="!row.list && (!!row.question || !!$ctrl.showAnswer) && !!row.leoEnabled" href="http://dict.leo.org/franz%C3%B6sisch-deutsch/{{ row.value }}" target="_blank">{{ row.value }}</a>
                <input class="u-full-width"
                       type="text"
                       id="{{ row.name }}"
                       ng-if="(!row.question && !$ctrl.showAnswer)" readonly>
            </div>

            <button ng-click="$ctrl.displayAnswer()">Antwort anzeigen</button>
            <button ng-class="{'button-primary': !!$ctrl.stackSelection }" ng-click="$ctrl.startStackSelection()">Wähl nächste Lernkartei</button>
            <button ng-class="{'button-primary': !$ctrl.stackSelection }" ng-click="$ctrl.stopStackSelection()">Beweg Lernkartei</button>

            <div>
                <label ng-if="!$ctrl.stackSelection">Beweg Lernkartei im ...</label>
                <label ng-if="!!$ctrl.stackSelection">Prüf nächste Lernkartei von ...</label>
                <ng-repeat ng-repeat="stack in $ctrl.stacksDestination">
                    <button ng-click="$ctrl.onStackClick(stack.id)" ng-class="{'button-primary': $ctrl.currentStackName === stack.name }">{{ stack.name }} {{ '(' + stack.count + (!!(stack.max) ? '/' + stack.max : '') + (stack.count > 1 ? ' Einträge)': ' Eintrag)') }}</button>
                </ng-repeat>
            </div>

            <button ng-click="$ctrl.back()">Zurück</button>
        </div>
    </div>
</div>
<footnote></footnote>
