<div class="container">
    <div class="row">
        <div class="twelve column" style="margin-top: 5%">
            <h1>{{ $ctrl.title }}</h1>
            <div ng-if="!!row.value" ng-repeat="row in $ctrl.fields">
                <label for="{{ row.name }}">{{ row.name + (!!row.question ? ' (Frage)' : ' (Antwort)') }} </label>
                <ul ng-if="!!row.list && (!!row.question || !!$ctrl.showAnswer)">
                    <li ng-repeat="value in row.value">{{ value }}</li>
                </ul>
                <input class="u-full-width"
                       type="text"
                       id="{{ row.name }}"
                       ng-model="row.value"
                       ng-if="!row.list && (!!row.question || !!$ctrl.showAnswer) && !row.leoEnabled" readonly>
                <a ng-if="!row.list && (!!row.question || !!$ctrl.showAnswer) && !!row.leoEnabled" href="http://dict.leo.org/franz%C3%B6sisch-deutsch/{{ row.value }}" target="_blank">{{ row.value }}</a>
                <input class="u-full-width"
                       type="text"
                       id="{{ row.name }}"
                       ng-if="(!row.question && !$ctrl.showAnswer)" readonly>
            </div>

            <button ng-click="$ctrl.displayAnswer()" accesskey="a"><u>A</u>ntwort anzeigen</button>
            <button ng-click="$ctrl.previousStack()" accesskey="l">Beweg in der <u>l</u>etzten Kiste</button>
            <button ng-click="$ctrl.nextStack()" accesskey="n">... in der <u>n</u>ächsten Kiste</button>

            <div>
                <label>Wähl nächste Lernkartei im ...</label>
                <ng-repeat ng-repeat="stack in $ctrl.stacksDestination">
                    <button ng-click="$ctrl.onStackClick(stack.id)" ng-class="{'button-primary': $ctrl.currentStackId === stack.id }" accesskey="{{ stack.shortcut }}">{{ stack.leftName }}<u>{{ stack.shortcut }}</u>{{ stack.rightName }} {{ '(' + stack.count + (!!(stack.max) ? '/' + stack.max : '') + (stack.count > 1 ? ' Einträge)': ' Eintrag)') }}</button>
                </ng-repeat>
            </div>
        </div>
    </div>
</div>
<footnote></footnote>
