<div class="container">
    <div class="row">
        <div class="twelve column" style="margin-top: 5%">
            <h1>Localstorage</h1>

            <div>
                <label for="importData">Import</label>
                <textarea id="importData" ng-model="$ctrl.importData"></textarea>
            </div>

            <button ng-click="$ctrl.import()">Import</button>
            <button ng-click="$ctrl.clear()">Clear</button>
            <button ng-click="$ctrl.back()">Zurück</button>
            <label for="exportData">Localstorage's content</label>
            <div id="exportData">{{ $ctrl.localStorageAsText }}</div>
        </div>
    </div>
</div>
