<div class="container">
    <div class="row">
        <div class="twelve column" style="margin-top: 25%">
            <h1>Vorstellung</h1>

            <h2>Privat</h2>
            <ng-repeat ng-repeat="group in $ctrl.privat">
                <h3>{{ group.groupId }}</h3>
                <button ng-click="$ctrl.show(group)" ng-show="$ctrl.isButtonVisible(group)">
                    Anzeigen
                </button>
                <ul ng-show="$ctrl.isGroupVisible(group)">
                    <li ng-repeat="entry in group.entries">{{ entry }}</li>
                </ul>
            </ng-repeat>

            <h2>Beruf</h2>
            <ng-repeat ng-repeat="group in $ctrl.business">
                <h3>{{ group.groupId }}</h3>
                <button ng-click="$ctrl.show(group)" ng-show="$ctrl.isButtonVisible(group)">
                    Anzeigen
                </button>
                <ul ng-show="$ctrl.isGroupVisible(group)">
                    <li ng-repeat="entry in group.entries">{{ entry }}</li>
                </ul>
            </ng-repeat>

            <button ng-click="$ctrl.showAll()">
                Alles anzeigen
            </button>
            <button ng-click="$ctrl.back()">Zurück</button>
        </div>
    </div>
</div>
<footnote></footnote>
